node_modules
**/node_modules
client/dist
server/dist
**/coverage
.git
.gitignore
*.log
**/.env
**/.env.*
!**/.env.example
Dockerfile
**/Dockerfile
docker-compose*.yml
*.md
.vscode
.idea
**/.DS_Store
**/*.tsbuildinfo
